.properties-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 1200px;
  padding: 5px;
  font-family: 'Jost', sans-serif;
  color: #6a6e7c;
  #mapid { height: 180px; }
  .images-details {
    padding: 5px;
    h4 {
      margin: 5px 0 0 0 ;
    }
    p {
      margin-bottom: 0;
      margin-top: 5px;
    }
    img {
      width: 100%;
      height: 350px;
      border-radius: 10px;
    }
  }
  .dados {
    margin: auto;
    padding: 5px;
    .title {
      margin: 0 0 20px 0;
      h2, h4 {
        margin: 2px;
      }
    }
    .isActive {
      color: green;
      margin-left: 100%;
      font-weight: 600;
    }
    .isDesactive {
      color: rgb(119, 13, 6);
      margin-left: 100%;
      font-weight: 600;
    }
    .mini-cards {
      width: 600px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      .max-hospedes {
        width: 150px;
        padding: 5px;
        border: #6a6e7cb4 solid 2px;
        border-radius: 5px;
        height: 60px;
        h4 {
          margin: 0 0 8px 0;
        }
        span {
          font-weight: 600;
        }
      }
      .tax-clean {
        width: 150px;
        padding: 5px;
        border: #6a6e7cb4 solid 2px;
        border-radius: 5px;
        height: 60px;
        span {
          font-weight: 600;
        }
        h4 {
          margin: 0 0 8px 0;
        }
      }
      .caucao {
        width: 150px;
        padding: 5px;
        border: #6a6e7cb4 solid 2px;
        border-radius: 5px;
        height: 60px;
        span {
          font-weight: 600;
        }
        h4 {
          margin: 0 0 8px 0;
        }
      }
    }
    .camas {
      ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
      }
      h4 {
        margin: 0;
        border-bottom: #6a6e7cb4 solid 2px;
        line-height: 35px;
      }
    }
    .regras{
      h4 {
        margin: 0;
        border-bottom: #6a6e7cb4 solid 2px;
        line-height: 35px;
      }
      ul {
        line-height: 25px;
      }
    }
    .comodidades {
      h4 {
        margin: 0;
        border-bottom: #6a6e7cb4 solid 2px;
        line-height: 35px;
      }
      ul {
        line-height: 25px;
      }
    }
    .permite{
      background-color: rgba(0, 128, 0, 0.8);
      font-weight: 400;
      font-size: 12px;
      color: honeydew;
      margin-left: 5px;
      padding: 0 4px 0 4px;
      border-radius: 3px;
    }
    .naoPermite {
      background-color: rgba(255, 0, 0, 0.7);
      font-weight: 400;
      font-size: 12px;
      color: honeydew;
      margin-left: 15px;
      padding: 0 4px 0 4px;
      border-radius: 3px;
    }
  }
}
