.card {
  min-width: 350px;
  height: 100px;
  padding: 20px;
  .image{
    width: 100%;
    img {
      padding: 5px;
      width: 100%;
      height: 100px;
      margin: auto;
      border-radius: 15px;
    }
  }
  h1 {
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
    color: #969db2;
  }
  h3 {
    font-size: 1rem;
    font-family: 'Jost', sans-serif;
    color: #969db2;
  }
  ul{
    margin: 0;
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      font-family: 'Jost', sans-serif;
      font-size: 0.8rem;
      letter-spacing: 2px;
      color: #969db2;
      transition: 300ms;
      padding: 2px;
    }
  }
}