.header {
  width: 99%;
  // height: 150px;
  display: flex;
  justify-content: space-between;
  margin: 4px;

  .logo {
    height: 45px;
  }
  .options {
    display: flex;
    list-style-type: none;
    li {
      margin: 0 45px 0  45px;
      font-family: 'Jost', sans-serif;
      letter-spacing: 2px;
      color: #969db2;
      transition: 300ms;
      padding: 2px;
      cursor: pointer;
      &:hover {
        background-color: rgba(250, 103, 58, 0.37);
        border-radius: 5px;
        color: #be1212;
      }
    }
  }
  .user {
    img{
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
}