.searchbar {
  box-shadow: #c4c4c49c 0px 0px 13px 2px;
  border-radius: 15px;
  width: 1200px;
  height: 75px;
  margin: auto;
  font-family: 'Jost', sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #969db2;
  padding: 5px;
  label{
    margin: 0 6px 0 6px;
    width: 12vw;
    input {
      width: 180px;
      height: 32px;
      border: none;
      background-color: #969db22a;
      padding: 3px;
      border-radius: 8px;
      &:hover {
        background-color: #be121215 ;
      }
      &:focus {
        background-color: #be121215 ;
      }
    }
  }
  .search-button {
    border: none;
    height: 32px;
    border-radius: 8px;
    background-color: #ff1717b0;
    transition: 300ms;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    margin-top: 20px;
    &:hover {
      opacity: 0.8;
    }
  }
  .plus-filter {
    width: 55px;
    font-size: small;
    padding: 5px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: #ff1717b0 ;
    }
    &:focus {
      background-color: #ff1717b0 ;
    }
  }
}
